auto lo
iface lo inet loopback
{% for interface in interfaces %}
{% if interface.type == "manual" %}

iface {{ interface.name }} inet manual
{% endif %}
{% if interface.type == "bridge" %}

auto {{ interface.name }}
iface {{ interface.name }} inet static
        address {{ interface.address }}
        netmask {{ interface.netmask }}
{% if 'gateway' in interface %}
        gateway {{ interface.gateway }}
{% endif %}
        bridge_ports {{ interface.ports | join(" ") }}
        bridge_stp off
        bridge_fd 0
{% if interface.bridge_vlan_aware is defined %}
        bridge-vlan-aware yes
        bridge-vids 2-4094
{% endif %}
{% if interface.ethernet_wol is defined  %}
        ethernet-wol {{ interface.ethernet_wol }}
{% endif %}
{% if interface.proxmox_host_network_quirk is defined %}
{% for port in interface.ports %}
        pre-up  ethtool -K {{ port }} tso off gso off
{% endfor %}
        post-up ethtool -K {{ interface.name }} tso off gso off
{% endif %}
{% if interface.proxmox_host_network_enable_tcp_segmentation_offload is defined %}
        # Enable TCP segmentation offload
{% for port in interface.ports %}
        pre-up  ethtool -K {{ port }} tx on sg on tso on
{% endfor %}
        post-up ethtool -K {{ interface.name }} tx on sg on tso on
{% endif %}
{% endif %}
{% if interface.type == "private" %}

auto {{ interface.name }}
iface {{ interface.name }} inet static
        address {{ interface.address }}
        netmask {{ interface.netmask }}
{% endif %}
{% endfor %}
