[Unit]
Description=fcos-sync-local timer
[Timer]
# fcos-sync-local runs on 22:00. therefore we start a hour later
OnCalendar=*-*-* 23:00:00
# Persistent=True triggers the service immediately if it missed the last start time
Persistent=True
Unit=fcos-sync-local.service
[Install]
WantedBy=timers.target
